#autocomplete {
	border: 1px solid black;
	border-radius:5px;
	font-size:14px;
	height:25px;
}
.autocomplete-suggestions { 
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
	position:absolute;
	max-height:300px;
	z-index:9999;
	top: 606.883px;
	left: 254px; 
}
.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	font-size:14px;
}
.autocomplete-selected { 
	background: #F0F0F0; 
}
.autocomplete-group { 
	padding: 2px 5px; 
}
.autocomplete-group strong { 
	display: block;
	border-bottom: 1px solid #000; 
}