/*General*/
body {
  	padding-bottom: 4ex;
	font-family: sans-serif;
	font-size:14px;
}

.empty-div:after {
    content: '\200b';
}

.right {
	padding-right: 1em;
}

.bottom {
	margin-bottom:2ex;
}

/*Tables*/
table {
	border-collapse:collapse;
	margin-bottom:2ex;
}
td, th {
  	text-align:center;
	padding-left: 1ex;
	padding-right: 1ex;
  	border-collapse: collapse;
}

.left-align td, .left-align th {
	text-align:left;
}

.game-container {
	margin-bottom:2ex;
}

/*Flex displays*/
.flex-img {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-buttons {
	display:flex;
	flex-direction:row;
	padding-bottom:0.5em;
}

.bold-contents td:not(.light-true, .light-false) {
	font-weight: bold;
}

/* Type colors */
.beauty {
	background-color: #6990ee;
	color: black;
}
.bug {
	background-color: #aaba20;
	color: black;
}
.cool {
	background-color: #ef7f32;
	color: black;
}
.cute {
	background-color: #f75887;
	color: black;
}
.dark {
	background-color: #715949;
	color: white;
}
.dragon {
	background-color: #796183;
	color: white;
}
.electric {
	background-color: #fbc330;
	color: black;
}
.fairy {
	background-color: #f0aaf0;
	color: black;
}
.fighting {
	background-color: #a25138;
	color: white;
}
.fire {
	background-color: #f35130;
	color: black;
}
.flying {
	background-color: #9aaaf3;
	color: black;
}
.ghost {
	background-color: #6161b2;
	color: white;
}
.grass {
	background-color: #79cb51;
	color: black;
}
.ground {
	background-color: #d3b259;
	color: black;
}
.ice {
	background-color: #59cbe3;
	color: black;
}
.normal {
	background-color: #aaa292;
	color: black;
}
.poison {
	background-color: #b259a2;
	color: white;
}
.psychic {
	background-color: #fb71a2;
	color: black;
}
.rock {
	background-color: #baa259;
	color: black;
}
.smart {
	background-color: #76c752;
	color: black;
}
.steel {
	background-color: #aaaac3;
	color: black;
}
.tough {
	background-color: #f7cf36;
	color: black;
}
.water {
	background-color: #389afb;
	color: black;
}
.status {
	background-color:#c1d6c1;
	color: black;
}