/*General*/
body {
	color: white;
	background-color: #20252c;
	--light-true-background: #272d36;
	--light-true-color: white;
	--light-false-background: #2f3540;
	--light-false-color: white;
}

a {
	color: #70ace6;
}
a:visited {
	color: #b993db;
}

/*Tables*/
table {
	border: 2px solid #3c4248;
}
td, th {
	border: 1px solid #3c4248;
}
th {
	border-bottom: 2px solid #3c4248;
}

/*Colors*/
.light-true {
	background-color: var(--light-true-background);
	color: var(--light-true-color);
}
.light-false {
	background-color: var(--light-false-background);
	color: var(--light-false-color);
}

.red-true,
.ruby-true,
.white2-true,
.omegaruby-true,
.ultrasun-true,
.shield-true,
.scarlet-true {
	background-color: #693030;
	color: white;
}

.red-false,
.ruby-false,
.white2-false,
.omegaruby-false,
.ultrasun-false,
.shield-false,
.scarlet-false {
	background-color: #743e3e;
	color: white;
}

.green-true,
.emerald-true {
	background-color: #3b6d3b;
	color: white;
}

.green-false,
.emerald-false {
	background-color: #527c52;
	color: white;
}

.blue-true,
.sapphire-true,
.diamond-true,
.black2-true,
.alphasapphire-true,
.ultramoon-true,
.brilliantdiamond-true,
.pla-true {
	background-color: #3c3c79;
	color: white;
}

.blue-false,
.sapphire-false,
.diamond-false,
.black2-false,
.alphasapphire-false,
.ultramoon-false,
.brilliantdiamond-false,
.pla-false {
	background-color: #4d4d73;
	color: white;
}
.yellow-true,
.lgp-true {
	background-color: #6f6f2a;
	color: white;
}
.yellow-false,
.lgp-false {
	background-color: #808033;
	color: white;
}
.gold-true,
.heartgold-true {
	background-color: #6d6036;
	color: white;
}
.gold-false,
.heartgold-false {
	background-color:#80784f;
	color: white;
}
.silver-true,
.soulsilver-true,
.white-true {
	background-color: #808080;
	color: black;
}
.silver-false,
.soulsilver-false,
.white-false {
	background-color: #949494;
	color: black;
}
.crystal-true,
.colosseum-true,
.platinum-true,
.x-true,
.sword-true {
	background-color: #447474;
	color: white;
}
.crystal-false,
.colosseum-false,
.platinum-false,
.x-false,
.sword-false {
	background-color: #568383;
	color: white;
}
.firered-true,
.sun-true,
.lge-true {
	background-color: #7e5329;
	color: white;
}
.firered-false,
.sun-false,
.lge-false {
	background-color: #8d653d;
	color: white;
}
.leafgreen-true {
	background-color: #566f2d;
	color: white;
}
.leafgreen-false {
	background-color: #688042;
	color: white;
}
.xd-true,
.pearl-true,
.y-true,
.moon-true,
.shiningpearl-true,
.violet-true {
	background-color: #5c3669;
	color: white;
}
.xd-false,
.pearl-false,
.y-false,
.moon-false,
.shiningpearl-false,
.violet-false {
	background-color: #6a4377;
	color: white;
}
.black-true {
	background-color: #262626;
	color: white;
}
.black-false {
	background-color: #3a3a3a;
	color: white;
}