body {
  	padding-bottom: 2ex;
}
table {
	border: 2px solid black;
	border-collapse:collapse;
}
td, th {
  	text-align:center;
	padding-left: 1ex;
	padding-right: 1ex;
	border: 1px solid black;
  	border-collapse: collapse;
}
.flex-img {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
