body {
  padding-bottom: 2ex;
}
table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td, th {
  text-align:center;
}
.flex-img {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
