body {
  	padding-bottom: 2ex;
}

.right {
	padding-right: 1em;
}

.bottom {
	margin-bottom:2em;	
}

/*Tables*/
table {
	border: 2px solid black;
	border-collapse:collapse;
}
td, th {
  	text-align:center;
	padding-left: 1ex;
	padding-right: 1ex;
	border: 1px solid black;
  	border-collapse: collapse;
}

/*Flex displays*/
.flex-img {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-buttons {
	display:flex;
	flex-direction:row;
	padding-bottom:0.5em;
}

/*Game colors*/

.red-true {
	background-color: #ff5656;
}

.red-false {
	background-color: #ff8787;
}

.green-true {
	background-color: #74de74;
}

.green-false {
	background-color: #a2e8a2;
}

.blue-true {
	background-color: #5656ff;
	color: white;
}

.blue-false {
	background-color: #8787ff;
	color: white;
}

.yellow-true {
	background-color: #ebeb52;
}

.yellow-false {
	background-color: #f1f19f;
}
