/*General*/
body {
	color: black;
	background-color: #f9eee3;
	--light-true-background: #d1ccbd;
	--light-true-color: black;
	--light-false-background: #ebe0d5;
	--light-false-color: black;
}

/*Tables*/
table {
	border: 2px solid black;
}
td, th {
	border: 1px solid black;
}
th {
	border-bottom: 2px solid black;
}

/*Colors*/
.light-true {
	background-color: var(--light-true-background);
	color: var(--light-true-color);
}
.light-false {
	background-color: var(--light-false-background);
	color: var(--light-false-color);	
}

.red-true,
.ruby-true,
.white2-true,
.omegaruby-true,
.ultrasun-true,
.shield-true,
.scarlet-true {
	background-color: #f39494;
	color: black;
}

.red-false,
.ruby-false,
.white2-false,
.omegaruby-false,
.ultrasun-false,
.shield-false,
.scarlet-false {
	background-color: #f6b3b3;
	color: black;
}

.green-true,
.emerald-true {
	background-color: #a4e0a4;
	color: black;
}

.green-false,
.emerald-false {
	background-color: #c3eac3;
	color: black;
}

.blue-true,
.sapphire-true,
.diamond-true,
.black2-true,
.alphasapphire-true,
.ultramoon-true,
.brilliantdiamond-true,
.pla-true {
	background-color: #b9b9f7;
	color: black;
}

.blue-false,
.sapphire-false,
.diamond-false,
.black2-false,
.alphasapphire-false,
.ultramoon-false,
.brilliantdiamond-false,
.pla-false {
	background-color: #ccccf9;
	color: black;
}
.yellow-true,
.lgp-true {
	background-color: #e6e690;
	color: black;
}
.yellow-false,
.lgp-false {
	background-color: #efefc1;
	color: black;
}
.gold-true,
.heartgold-true {
	background-color: #d1c49a;
	color: black;
}
.gold-false,
.heartgold-false {
	background-color:#e4dcb3;
	color: black;
}
.silver-true,
.soulsilver-true,
.white-true {
	background-color: #d4d4d4;
	color: black;
}
.silver-false,
.soulsilver-false,
.white-false {
	background-color: #e5e5e5;
	color: black;
}
.crystal-true,
.colosseum-true,
.platinum-true,
.x-true,
.sword-true {
	background-color: #b2d1d8;
	color: black;
}
.crystal-false,
.colosseum-false,
.platinum-false,
.x-false,
.sword-false {
	background-color: #cae2ec;
	color: black;
}
.firered-true,
.sun-true,
.lge-true {
	background-color: #f1a26b;
	color: black;
}
.firered-false,
.sun-false,
.lge-false {
	background-color: #ecb58f;
	color: black;
}
.leafgreen-true {
	background-color: #b4cd49;
	color: black;
}
.leafgreen-false {
	background-color: #cfe27b;
	color: black;
}
.xd-true,
.pearl-true,
.y-true,
.moon-true,
.shiningpearl-true,
.violet-true {
	background-color: #d994f2;
	color: black;
}
.xd-false,
.pearl-false,
.y-false,
.moon-false,
.shiningpearl-false,
.violet-false {
	background-color: #e3b3f5;
	color: black;
}
.black-true {
	background-color: #434343;
	color: white;
}
.black-false {
	background-color: #666666;
	color: white;
}