[class^="TestDiv"] {
	position: relative;
	width: 100%;
}

.TestImg {
	width: 70%;
	
}

.WispTest {
	position: absolute;
	float: left;
	width: 2.7%;
	z-index: 100%;
	top: 5%;
	left: 15%;
}

.TestImg2 {
	width: 70%;
}