table {
	border-collapse: collapse;
	border: 2px solid;
}

td, th {
	text-align: center;
	border: 1px solid black;
	padding-left: 1ex;
	padding-right: 1ex;
}

.red-true {
	background-color: #ff5656;
}

.red-false {
	background-color: #ff8787;
}

.green-true {
	background-color: #74de74;
}

.green-false {
	background-color: #a2e8a2;
}

.blue-true {
	background-color: #5656ff;
	color: white;
}

.blue-false {
	background-color: #8787ff;
	color: white;
}

.yellow-true {
	background-color: #ebeb52;
}

.yellow-false {
	background-color: #f1f19f;
}

.flex-buttons {
	display:flex;
	flex-direction:row;
	padding-bottom:0.5em;
}

.right {
	padding-right: 1em;
}

.flex-img {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;"
}
