label {
	user-select: none;
}

#weather-select > label, #time-select > label {
	display: block;
	text-align: right;
	width: 60%;
}

#pokemon-select  {
	display: block;
	text-align: center;
}

#filter-select > label {
	padding-right: 20px;
}

.weather-icons {
	width: 32px;
}

[id$="-select"] {
	float: left;
	margin: 20px;
}

#body-div {
	position: relative;
	width: 100%;
	clear: both;
	margin: 10px;
	display: flex;
}

#map {
	width: 60%;
}

.full-display {
	background-color: red;
	float: left;
	width: 20%;
	top: 15%;
	left: 15%:
	
}