
#detail-image {
	position: absolute;
	float: left;
	width: 10%;
	z-index: 101;
}

#map-div {
	
	width: 45%;
	float: left;
	position: relative;
}

body {
	padding: 10px;
}

#map-div > img, #display {
	width: 100%;
}

#detail-image {
	position: absolute;
	float: left;
	width: 40%;
	z-index: 101;
}

.iconImage {
	position: absolute;
	float: left;
	width: 2.7%;
	z-index: 100;
}

.verseImage {
	position: absolute;
	float: left;
	width: 5%;
	z-index: 100;
}

#empty {
	display: block;
	clear: both;
	height: 200px;
}
