body {
	padding: 10px;
}

[class$="lands"] {
	position: relative;
	width: 100%;
}

.Map {
	width: 70%;
}

[id*="-wisp-"] {
	position: absolute;
	float: left;
	width: 2.7%;
	z-index: 100%;
	
}


[class^="detail"] {
	display: none;
	position: absolute;
	float: left;
	width: 30%;
	z-index: 100;
}

/* Fieldlands Wisps */

#fieldlands-wisp-1 {
	top: 17.3%;
	left: 18.1%;
}

#fieldlands-1 #fieldlands-wisp-1:hover + .detail-1 {
	display: block;
	top: 20%;
	left: 21%;
}

#fieldlands-wisp-2 {
	top: 7.2%;
	left: 46.3%;
}

#fieldlands-2 #fieldlands-wisp-2:hover + .detail-2 {
	display: block;
	top: 10%;
	left: 49%;
}

#fieldlands-wisp-3 {
	top: 22%;
	left: 61%;
}

#fieldlands-3 #fieldlands-wisp-3:hover + .detail-3 {
	display: block;
	top: 25%;
	left: 64%;
}

#fieldlands-wisp-4 {
	top: 28.5%;
	left: 50%;
}

#fieldlands-4 #fieldlands-wisp-4:hover + .detail-4 {
	display: block;
	top: 31%;
	left: 54%;
}

#fieldlands-wisp-5 {
	top: 33%;
	left: 37%;
}

#fieldlands-5 #fieldlands-wisp-5:hover + .detail-5 {
	display: block;
	top: 36%;
	left: 40%;
}

#fieldlands-wisp-6 {
	top: 43%;
	left: 22%;
}

#fieldlands-6 #fieldlands-wisp-6:hover + .detail-6 {
	display: block;
	top: 46%;
	left: 25%;
}

#fieldlands-wisp-7 {
	top: 49%;
	left: 32%;
}

#fieldlands-7 #fieldlands-wisp-7:hover + .detail-7 {
	display: block;
	top: 52%;
	left: 35%;
}

#fieldlands-wisp-8 {
	top: 52%;
	left: 40%;
}

#fieldlands-8 #fieldlands-wisp-8:hover + .detail-8 {
	display: block;
	top: 55%;
	left: 43%;
}

#fieldlands-wisp-9 {
	top: 38.5%;
	left: 61%;
}

#fieldlands-9 #fieldlands-wisp-9:hover + .detail-9 {
	display: block;
	top: 41%;
	left: 64%;
}

#fieldlands-wisp-10 {
	top: 56.5%;
	left: 65.5%;
}

#fieldlands-10 #fieldlands-wisp-10:hover + .detail-10 {
	display: block;
	top: 60%;
	left: 70%;
}

#fieldlands-wisp-11 {
	top: 51.5%;
	left: 55%;
}

#fieldlands-11 #fieldlands-wisp-11:hover + .detail-11 {
	display: block;
	top: 54%;
	left: 58%;
}

#fieldlands-wisp-12 {
	top: 70.5%;
	left: 54.5%;
}

#fieldlands-12 #fieldlands-wisp-12:hover + .detail-12 {
	display: block;
	top: 73%;
	left: 57%;
}

#fieldlands-wisp-13 {
	top: 68%;
	left: 38%;
}

#fieldlands-13 #fieldlands-wisp-13:hover + .detail-13 {
	display: block;
	top: 71%;
	left: 41%;
}

#fieldlands-wisp-14 {
	top: 62.5%;
	left: 27.5%;
}

#fieldlands-14 #fieldlands-wisp-14:hover + .detail-14 {
	display: block;
	top: 65%;
	left: 30%;
}

#fieldlands-wisp-15 {
	top: 70%;
	left: 8%;
}

#fieldlands-15 #fieldlands-wisp-15:hover + .detail-15 {
	display: block;
	top: 73%;
	left: 11%;
}

#fieldlands-wisp-16 {
	top: 84.5%;
	left: 20.5%;
}

#fieldlands-16 #fieldlands-wisp-16:hover + .detail-16 {
	display: block;
	top: 87%;
	left: 23%;
}

#fieldlands-wisp-17 {
	top: 91%;
	left: 38%;
}

#fieldlands-17 #fieldlands-wisp-17:hover + .detail-17 {
	display: block;
	top: 94%;
	left: 41%;
}

#fieldlands-wisp-18 {
	top: 81%;
	left: 46%;
}

#fieldlands-18 #fieldlands-wisp-18:hover + .detail-18 {
	display: block;
	top: 84%;
	left: 49%;
}

#fieldlands-wisp-19 {
	top: 34.5%;
	left: 12%;
}

#fieldlands-19 #fieldlands-wisp-19:hover + .detail-19 {
	display: block;
	top: 37%;
	left: 15%;
}

#fieldlands-wisp-20 {
	top: 94.5%;
	left: 24%;
}

#fieldlands-20 #fieldlands-wisp-20:hover + .detail-20 {
	display: block;
	top: 97%;
	left: 27%;
}

/* Mirelands Wisps */

#mirelands-wisp-1 {
	top: 35.5%;
	left: 49.5%;
}

#mirelands-1 #mirelands-wisp-1:hover + .detail-1 {
	display: block;
	top: 38%;
	left: 52%;
}

#mirelands-wisp-2 {
	top: 13%;
	left: 29.5%;
}

#mirelands-2 #mirelands-wisp-2:hover + .detail-2 {
	display: block;
	top: 16%;
	left: 32%;
}

#mirelands-wisp-3 {
	top: 15.5%;
	left: 24%;
}

#mirelands-3 #mirelands-wisp-3:hover + .detail-3 {
	display: block;
	top: 18%;
	left: 27%;
}

#mirelands-wisp-4 {
	top: 14%;
	left: 18%;
}

#mirelands-4 #mirelands-wisp-4:hover + .detail-4 {
	display: block;
	top: 17%;
	left: 21%;
}

#mirelands-wisp-5 {
	top: 26%;
	left: 19%;
}

#mirelands-5 #mirelands-wisp-5:hover + .detail-5 {
	display: block;
	top: 29%;
	left: 22%;
}

#mirelands-wisp-6 {
	top: 53%;
	left: 11%;
}

#mirelands-6 #mirelands-wisp-6:hover + .detail-6 {
	display: block;
	top: 56%;
	left: 14%;
}

#mirelands-wisp-7 {
	top: 69%;
	left: 17%;
}

#mirelands-7 #mirelands-wisp-7:hover + .detail-7 {
	display: block;
	top: 72%;
	left: 20%;
}

#mirelands-wisp-8 {
	top: 52%;
	left: 19.5%;
}

#mirelands-8 #mirelands-wisp-8:hover + .detail-8 {
	display: block;
	top: 55%;
	left: 22%;
}

#mirelands-wisp-9 {
	top: 41.5%;
	left: 29.5%;
}

#mirelands-9 #mirelands-wisp-9:hover + .detail-9 {
	display: block;
	top: 44%;
	left: 31%;
}

#mirelands-wisp-10 {
	top: 31%;
	left: 35%;
}

#mirelands-10 #mirelands-wisp-10:hover + .detail-10 {
	display: block;
	top: 34%;
	left: 38%;
}


#mirelands-wisp-11 {
	top: 82%;
	left: 17.5%;
}

#mirelands-11 #mirelands-wisp-11:hover + .detail-11 {
	display: block;
	top: 85%;
	left: 20%;
}

#mirelands-wisp-12 {
	top: 89.5%;
	left: 27%;
}

#mirelands-12 #mirelands-wisp-12:hover + .detail-12 {
	display: block;
	top: 92%;
	left: 30%;
}

#mirelands-wisp-13 {
	top: 87%;
	left: 38.8%;
}

#mirelands-13 #mirelands-wisp-13:hover + .detail-13 {
	display: block;
	top: 90%;
	left: 41%;
}

#mirelands-wisp-14 {
	top: 57.5%;
	left: 57.5%;
}

#mirelands-14 #mirelands-wisp-14:hover + .detail-14 {
	display: block;
	top: 60%;
	left: 60%;
}


#mirelands-wisp-15 {
	top: 60%;
	left: 46.5%;
}

#mirelands-15 #mirelands-wisp-15:hover + .detail-15 {
	display: block;
	top: 63%;
	left: 49%;
}


#mirelands-wisp-16 {
	top: 53%;
	left: 48%;
}

#mirelands-16 #mirelands-wisp-16:hover + .detail-16 {
	display: block;
	top: 55%;
	left: 51%;
}
	
	
#mirelands-wisp-17 {
	top: 45.5%;
	left: 45.5%;
}

#mirelands-17 #mirelands-wisp-17:hover + .detail-17 {
	display: block;
	top: 48%;
	left: 48%;
}


#mirelands-wisp-18 {
	top: 41%;
	left: 38%;
}

#mirelands-18 #mirelands-wisp-18:hover + .detail-18 {
	display: block;
	top: 44%;
	left: 41%;
}


#mirelands-wisp-19 {
	top: 92%;
	left: 51.5%;
}

#mirelands-19 #mirelands-wisp-19:hover + .detail-19 {
	display: block;
	top: 94%;
	left: 54%;
}


#mirelands-wisp-20 {
	top: 69%;
	left: 62%;
}

#mirelands-20 #mirelands-wisp-20:hover + .detail-20 {
	display: block;
	top: 71%;
	left: 65%;
}

/* Coastlands Wisps */


#coastlands-wisp-1 {
	top: 21.5%;
	left: 14%;
}

#coastlands-1 #coastlands-wisp-1:hover + .detail-1 {
	display: block;
	top: 24%;
	left: 17%;
}

#coastlands-wisp-2 {
	top: 25%;
	left: 5%;
}

#coastlands-2 #coastlands-wisp-2:hover + .detail-2 {
	display: block;
	top: 28%;
	left: 8%;
}

#coastlands-wisp-3 {
	top: 7%;
	left: 18.5%;
}

#coastlands-3 #coastlands-wisp-3:hover + .detail-3 {
	display: block;
	top: 10%;
	left: 21%;
}

#coastlands-wisp-4 {
	top: 26%;
	left: 29%;
}

#coastlands-4 #coastlands-wisp-4:hover + .detail-4 {
	display: block;
	top: 29%;
	left: 32%;
}

#coastlands-wisp-5 {
	top: 2%;
	left: 40%;
}

#coastlands-5 #coastlands-wisp-5:hover + .detail-5 {
	display: block;
	top: 5%;
	left: 43%;
}

#coastlands-wisp-6 {
	top: 27.5%;
	left: 61.5%;
}

#coastlands-6 #coastlands-wisp-6:hover + .detail-6 {
	display: block;
	top: 30%;
	left: 64%;
}

#coastlands-wisp-7 {
	top: 0.5%;
	left: 63.5%;
}

#coastlands-7 #coastlands-wisp-7:hover + .detail-7 {
	display: block;
	top: 3%;
	left: 66%;
}

#coastlands-wisp-8 {
	top: 17%;
	left: 57%;
}

#coastlands-8 #coastlands-wisp-8:hover + .detail-8 {
	display: block;
	top: 20%;
	left: 60%;
}

#coastlands-wisp-9 {
	top: 28.5%;
	left: 31%;
}

#coastlands-9 #coastlands-wisp-9:hover + .detail-9 {
	display: block;
	top: 31%;
	left: 34%;
}

#coastlands-wisp-10 {
	top: 44%;
	left: 17.5%;
}

#coastlands-10 #coastlands-wisp-10:hover + .detail-10 {
	display: block;
	top: 47%;
	left: 20%;
}

#coastlands-wisp-11 {
	top: 37%;
	left: 36%;
}

#coastlands-11 #coastlands-wisp-11:hover + .detail-11 {
	display: block;
	top: 40%;
	left: 39%;
}

#coastlands-wisp-12 {
	top: 49.5%;
	left: 35%;
}

#coastlands-12 #coastlands-wisp-12:hover + .detail-12 {
	display: block;
	top: 52%;
	left: 38%;
}

#coastlands-wisp-13 {
	top: 64.5%;
	left: 64%;
}

#coastlands-13 #coastlands-wisp-13:hover + .detail-13 {
	display: block;
	top: 67%;
	left: 67%;
}

#coastlands-wisp-14 {
	top: 68.5%;
	left: 47.5%;
}

#coastlands-14 #coastlands-wisp-14:hover + .detail-14 {
	display: block;
	top: 71%;
	left: 50%;
}

#coastlands-wisp-15 {
	top: 61%;
	left: 6.5%;
}

#coastlands-15 #coastlands-wisp-15:hover + .detail-15 {
	display: block;
	top: 64%;
	left: 9%;
}

#coastlands-wisp-16 {
	top: 67.5%;
	left: 9%;
}

#coastlands-16 #coastlands-wisp-16:hover + .detail-16 {
	display: block;
	top: 70%;
	left: 12%;
}

#coastlands-wisp-17 {
	top: 73%;
	left: 25%;
}

#coastlands-17 #coastlands-wisp-17:hover + .detail-17 {
	display: block;
	top: 76%;
	left: 28%;
}

#coastlands-wisp-18 {
	top: 93%;
	left: 41%;
}

#coastlands-18 #coastlands-wisp-18:hover + .detail-18 {
	display: block;
	top: 96%;
	left: 44%;
}

#coastlands-wisp-19 {
	top: 79%;
	left: 35%;
}

#coastlands-19 #coastlands-wisp-19:hover + .detail-19 {
	display: block;
	top: 82%;
	left: 38%;
}

#coastlands-wisp-20 {
	top: 82.5%;
	left: 59%;
}

#coastlands-20 #coastlands-wisp-20:hover + .detail-20 {
	display: block;
	top: 85%;
	left: 62%;
}

/* Highlands Wisps */

#highlands-wisp-1 {
	top: 70.5%;
	left: 62%;
}

#highlands-1 #highlands-wisp-1:hover + .detail-1 {
	display: block;
	top: 73%;
	left: 65%;
}

#highlands-wisp-2 {
	top: 79%;
	left: 49%;
}

#highlands-2 #highlands-wisp-2:hover + .detail-2 {
	display: block;
	top: 82%;
	left: 52%;
}

#highlands-wisp-3 {
	top: 91%;
	left: 46%;
}

#highlands-3 #highlands-wisp-3:hover + .detail-3 {
	display: block;
	top: 94%;
	left: 49%;
}

#highlands-wisp-4 {
	top: 89%;
	left: 21.5%;
}

#highlands-4 #highlands-wisp-4:hover + .detail-4 {
	display: block;
	top: 92%;
	left: 24%;
}

#highlands-wisp-5 {
	top: 83%;
	left: 14%;
}

#highlands-5 #highlands-wisp-5:hover + .detail-5 {
	display: block;
	top: 87%;
	left: 17%;
}

#highlands-wisp-6 {
	top: 71%;
	left: 26%;
}

#highlands-6 #highlands-wisp-6:hover + .detail-6 {
	display: block;
	top: 74%;
	left: 29%;
}

#highlands-wisp-7 {
	top: 65.5%;
	left: 44.5%;
}

#highlands-7 #highlands-wisp-7:hover + .detail-7 {
	display: block;
	top: 68%;
	left: 47%;
}

#highlands-wisp-8 {
	top: 58.5%;
	left: 46.5%;
}

#highlands-8 #highlands-wisp-8:hover + .detail-8 {
	display: block;
	top: 61%;
	left: 49%;
}

#highlands-wisp-9 {
	top: 46%;
	left: 57.5%;
}

#highlands-9 #highlands-wisp-9:hover + .detail-9 {
	display: block;
	top: 49%;
	left: 60%;
}

#highlands-wisp-10 {
	top: 46%;
	left: 46.5%;
}

#highlands-10 #highlands-wisp-10:hover + .detail-10 {
	display: block;
	top: 49%;
	left: 49%;
}

#highlands-wisp-11 {
	top: 49%;
	left: 28%;
}

#highlands-11 #highlands-wisp-11:hover + .detail-11 {
	display: block;
	top: 52%;
	left: 31%;
}

#highlands-wisp-12 {
	top: 53.5%;
	left: 11%;
}

#highlands-12 #highlands-wisp-12:hover + .detail-12 {
	display: block;
	top: 56%;
	left: 14%;
}

#highlands-wisp-13 {
	top: 68%;
	left: 5.5%;
}

#highlands-13 #highlands-wisp-13:hover + .detail-13 {
	display: block;
	top: 71%;
	left: 8%;
}

#highlands-wisp-14 {
	top: 57.5%;
	left: 21%;
}

#highlands-14 #highlands-wisp-14:hover + .detail-14 {
	display: block;
	top: 60%;
	left: 24%;
}

#highlands-wisp-15 {
	top: 54%;
	left: 26.5%;
}

#highlands-15 #highlands-wisp-15:hover + .detail-15 {
	display: block;
	top: 57%;
	left: 29%;
}

#highlands-wisp-16 {
	top: 39%;
	left: 20%;
}

#highlands-16 #highlands-wisp-16:hover + .detail-16 {
	display: block;
	top: 42%;
	left: 23%;
}

#highlands-wisp-17 {
	top: 36%;
	left: 9%;
}

#highlands-17 #highlands-wisp-17:hover + .detail-17 {
	display: block;
	top: 39%;
	left: 12%;
}

#highlands-wisp-18 {
	top: 81.5%;
	left: 50.5%;
}

#highlands-18 #highlands-wisp-18:hover + .detail-18 {
	display: block;
	top: 84%;
	left: 53%;
}

#highlands-wisp-19 {
	top: 81.2%;
	left: 39.2%;
}

#highlands-19 #highlands-wisp-19:hover + .detail-19 {
	display: block;
	top: 84%;
	left: 42%;
}

#highlands-wisp-20 {
	top: 67%;
	left: 18.5%;
}

#highlands-20 #highlands-wisp-20:hover + .detail-20 {
	display: block;
	top: 70%;
	left: 21%;
}

/* Icelands Wisps */

#icelands-wisp-1 {
	top: 1%;
	left: 44%;
}

#icelands-1 #icelands-wisp-1:hover + .detail-1 {
	display: block;
	top: 4%;
	left: 47%;
}

#icelands-wisp-2 {
	top: 4%;
	left: 45%;
}

#icelands-2 #icelands-wisp-2:hover + .detail-2 {
	display: block;
	top: 7%;
	left: 48%;
}

#icelands-wisp-3 {
	top: 22%;
	left: 19.5%;
}

#icelands-3 #icelands-wisp-3:hover + .detail-3 {
	display: block;
	top: 25%;
	left: 22%;
}

#icelands-wisp-4 {
	top: 21%;
	left: 28.5%;
}

#icelands-4 #icelands-wisp-4:hover + .detail-4 {
	display: block;
	top: 24%;
	left: 31%;
}

#icelands-wisp-5 {
	top: 14.5%;
	left: 52%;
}

#icelands-5 #icelands-wisp-5:hover + .detail-5 {
	display: block;
	top: 17%;
	left: 55%;
}

#icelands-wisp-6 {
	top: 47.5%;
	left: 49%;
}

#icelands-6 #icelands-wisp-6:hover + .detail-6 {
	display: block;
	top: 50%;
	left: 52%;
}

#icelands-wisp-7 {
	top: 42%;
	left: 23%;
}

#icelands-7 #icelands-wisp-7:hover + .detail-7 {
	display: block;
	top: 45%;
	left: 27%;
}

#icelands-wisp-8 {
	top: 51%;
	left: 12%;
}

#icelands-8 #icelands-wisp-8:hover + .detail-8 {
	display: block;
	top: 54%;
	left: 15%;
}

#icelands-wisp-9 {
	top: 51.5%;
	left: 22%;
}

#icelands-9 #icelands-wisp-9:hover + .detail-9 {
	display: block;
	top: 54%;
	left: 25%;
}

#icelands-wisp-10 {
	top: 50.5%;
	left: 38.5%;
}

#icelands-10 #icelands-wisp-10:hover + .detail-10 {
	display: block;
	top: 53%;
	left: 41%;
}

#icelands-wisp-11 {
	top: 52.5%;
	left: 39.5%;
}

#icelands-11 #icelands-wisp-11:hover + .detail-11 {
	display: block;
	top: 55%;
	left: 42%;
}

#icelands-wisp-12 {
	top: 82.5%;
	left: 42%;
}

#icelands-12 #icelands-wisp-12:hover + .detail-12 {
	display: block;
	top: 85%;
	left: 45%;
}

#icelands-wisp-13 {
	top: 75.5%;
	left: 32%;
}

#icelands-13 #icelands-wisp-13:hover + .detail-13 {
	display: block;
	top: 78%;
	left: 35%;
}

#icelands-wisp-14 {
	top: 67%;
	left: 29%;
}

#icelands-14 #icelands-wisp-14:hover + .detail-14 {
	display: block;
	top: 70%;
	left: 32%;
}

#icelands-wisp-15 {
	top: 67.5%;
	left: 17%;
}

#icelands-15 #icelands-wisp-15:hover + .detail-15 {
	display: block;
	top: 70%;
	left: 20%;
}

#icelands-wisp-16 {
	top: 70%;
	left: 11.5%;
}

#icelands-16 #icelands-wisp-16:hover + .detail-16 {
	display: block;
	top: 73%;
	left: 14%;
}

#icelands-wisp-17 {
	top: 84.5%;
	left: 5%;
}

#icelands-17 #icelands-wisp-17:hover + .detail-17 {
	display: block;
	top: 87%;
	left: 8%;
}

#icelands-wisp-18 {
	top: 46%;
	left: 58%;
}

#icelands-18 #icelands-wisp-18:hover + .detail-18 {
	display: block;
	top: 49%;
	left: 61%;
}

#icelands-wisp-19 {
	top: 35.5%;
	left: 42.5%;
}

#icelands-19 #icelands-wisp-19:hover + .detail-19 {
	display: block;
	top: 36.5%;
	left: 46.5%;
}

#icelands-wisp-20 {
	top: 18.5%;
	left: 33%;
}

#icelands-20 #icelands-wisp-20:hover + .detail-20 {
	display: block;
	top: 21%;
	left: 36%;
}
