:root {
	--label-margin: 160px;
}

@font-face {
	font-family: wonderMail;
	src: url(../font/wondermail.ttf);
}

#genForm {
	margin-bottom: 20px;
}

h1 {
	font-family: wonderMail;
	font-size: 64px;
	text-align: center;
}

#genForm p {
	margin-top: 0;
	margin-bottom: 20px;
	margin-right: 0;
	margin-left: var(--label-margin);
	font-size: medium;
	font-style: italic;
}

#genForm label {
	min-width: var(--label-margin);
	width: var(--label-margin);
	display: inline-block;
}

#genForm select {
	display: inline;
}

#advancedModeOnlyStuff {
	margin-top: 10px;
	margin-bottom: 10px;
}

.browser-deprecation {
	border: 4px dashed red;
	width: 100%;
	font-size: 150%;
}

.browser-deprecation p {
	margin: 8px 0 8px 0;
}

#outputbox {
	font-family: var(--mono-font);
	vertical-align: middle;
	background-color: var(--text);
	color: white;
	border: 1px solid var(--border);
	border-radius: var(--standard-border-radius);
	margin-bottom: 1rem;
	min-height: 4.5rem;
	padding: 0.5rem;
	text-align: center;
}

.yellow {
	color: yellow;
}

@media only screen and (min-width: 721px) {
	.filterBox {
		max-width: 25%;
	}
	.itemSelect {
		margin-left: 5px;
	}
}

@media only screen and (max-width: 720px) {
	.monContainer {
		display: flex;
	}
	.filterBox {
		flex-shrink: 0;
	}
	.monSelect {
		flex-grow: 1;
	}
	.genderSelect {
		width: min-content;
		margin-left: 5px;
	}
	#genForm p {
		margin-left: 0;
	}
}
