.show {
	display: inline;
}

.hide {
	display: none;
}

.weather-icons {
	width: 32px;
}

[id$="-select"] {
	float: left;
	margin: 20px;
}

#map-div {
	position: relative;
	width: 100%;
	clear: both;
	margin: 10px;
}

#map {
	width: 70%;
}


.pokemon {
	
	position: absolute;
	float: left;
	width: 1.5%;
	z-index: 100;
	
}

#spawn-1-day {
	top: 11%;
	left: 7%;
}
	