#map-div {
	width: 58%;
	float: left;
	position: relative;
}

#map-div > img, #display-icons {
	width: 100%;
}

#table-displays {
	width: 10%;
	float: left;
}

#selectors {
	float: left;
	width: 25%;
}

label {
	user-select: none;
}

h2 {
	text-align: center;
}

#filter-select, #time-select {
	padding-top: 20px;
	
}

#time-select > label {
	display: block;
	text-align: right;
	width: 60%;
}

#pokemon-select  {
	display: block;
	text-align: center;
}

#filter-select {
	text-align: center;
}

#filter-select > label {
	padding-right: 20px;
}

.weather-icons {
	width: 32px;
}

#selectors, #table-displays {
	font-size: 1vw;
	padding: 10px;
}

#weather-div {
	column-count: 2;
	text-align: right;
}

#small-displays {
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	position: absolute;
	float: left;
	width: 10%;
	z-index: 200;
}

#display-icons > img {
	position: absolute;
	width: 2.5%;
	z-index: 100;
}

table img {
	width: 50%;
}

tr, th, td {
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	text-align: center;
}
